<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>youtube-api</title>
<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</head>
<body>
<div>
<label>検索キーワード</label>
<input type="text" id="keyword">
</div>
<div>
<label>一日</label>
<input type="radio" name="radio" value="1">
<label>一週間</label>
<input type="radio" name="radio" value="2">
<label>一ヶ月</label>
<input type="radio" name="radio" value="3">
</div>
<div>
<button id="search">検索</button>
</div>
<div id="main-content"></div>
<div>
</div>
</body>
</html>